body {
    background: radial-gradient( circle #23D0D2, #aed6f1)
}

* {
    
    font-family: 'Chewy', cursive;
    color: white;
}


/*partie haut de pages*/

header {
    position: relative;
    height: 30%;
}

header li {
    display: inline;
    font-size: 37px;
    margin-left: 3%;
}

nav {
    width: 50%;
    text-align: center;
    margin-left: 25%;
}

h1 {
    background: -webkit-linear-gradient( white, #aed6f1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5em;
    text-align: center;
}

header ul {
    text-align: center;
    list-style: none;
}

.logo {
    height: 5%;
    width: 20%;
}

.petitlogo {
    height: 8%;
    width: 15%;
}

a {
    text-decoration: none;
}

form {
    position: absolute;
    right: 15px;
}


/*fin de partie haut */

iframe {
    height: 60%;
    width: 50%;
    position: relative;
    margin-top: 5%;
    left: 25%;
}

.adresse1 {
    position: relative;
    left: 40%;
    text-align: center;
    width: 20%;
}

.formulairemessage {
    position: relative;
    margin-top: 5%;
    margin-bottom: 10%;
    width: 18%;
    height: auto;
    left: 40%;
}

.message {
    height: 55px;
}


/*pied de page*/

footer {
    background-image: url('file:///home/morad/site/lab/projet-piscine/images/getsupercustomizedimage.php5.png');
}

footer section, footer nav {
    position: relative;
    left: 90px;
    margin-left: 120px;
    display: inline-block;
    vertical-align: top;
}

footer nav {
    height: 20%;
    width: 20%;
    margin-left: 28%;
}

.fb, .twit {
    display: inline-block;
    height: 40px;
    width: 40px;
}

p {
    display: inline-block;
    width: 180px;
}

@media (min-width: 740px) and (max-width: 1024px) {
    .petitlogo, header form, footer section {
        display: none;
    }
    form {
        width: auto;
    }
}

@media ( min-width :320px) and ( max-width: 740px) {
    .petitlogo, header form, footer section {
        display: none;
    }
    h1 {
        font-size: 3em;
    }
    .adresse1 {
        width: 70%;
        position: relative;
        left: 13%;
    }
    .formulairemessage {
        width: 70%;
        position: relative;
        left: 13%;
    }
    footer nav {
        position: relative;
        left: 10%;
        width: 30%;
        display: inline-block;
    }
}
