body{
  background: radial-gradient( circle  #23D0D2 ,#aed6f1 )
}
*{
  font-family: 'Chewy', cursive;
  color: white;
}
/*partie haut de pages*/
header{

  position: relative;
  height: 400px;
}
header li  {

  display: inline;
  font-size: 37px;
  margin-left: 60px;

}
nav{
  width: 700px;
  text-align: center;
  margin-left: 240px;
}

h1{
  background: -webkit-linear-gradient(  white, #aed6f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5em;
  text-align: center;
}
header ul  {
text-align: center;
list-style: none;
}
.logo {
  height: 80px;
  width: 200px;

}
.petitlogo {
  height: 80px;
  width: 120px;

}
form{
  position: absolute;
  right: 15px;
}
/*fin de partie haut de page*/
/*debut partie centrale article tableau*/
h2{
  text-align: center;
  margin-top: 35px;
}
.banniere {
  position: relative;
  left: 250px;
  width: 900px;
}
.imgbanniere{
  height: 200px;
  width: 900px;
}
table , img{
  display: inline-block;
}
table{
  height: 300px;
  width: 500px;
  margin-left: 60px;

}
em{
  font-weight: bold;
  color: green;
}
/*fin partie centrale taleau */
footer{
  background-image: url('file:///home/morad/site/lab/projet-piscine/images/getsupercustomizedimage.php5.png');
}
footer section , footer nav {
  position: relative;
  left: 90px;
  margin-left: 120px;
  display: inline-block;
  vertical-align: top;

}
.fb, .twit  {
  height: 40px;
  width:  40px;
}
p{
  width: 180px;
}
