body {
    background: radial-gradient( circle #23D0D2, #aed6f1)
}

* {
    font-family: 'Chewy', cursive;
    color: white;
}


/*partie haut de pages*/

header {
    position: relative;
    height: 400px;
}

a {
    text-decoration: none;
}

header li {
    display: inline;
    font-size: 37px;
    margin-left: 60px;
}

nav {
    width: 60%;
    margin-left: 15%;
}

h1 {
    background: -webkit-linear-gradient( white, #aed6f1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5em;
    text-align: center;
}

header ul {
    text-align: center;
    list-style: none;
}

.logo {
    height: 25%;
    width: 15%;
}

.petitlogo {
    height: 9%;
    width: 10%;
}


/*fin partie haut de pages*/


/*debut partie centrale section produit*/

img {
    border-radius: 5px;
}

.produit, .marque {
    display: inline-block;
}

.marque, form {
    position: absolute;
    right: 15px;
}

h2 {
    font-size: 2.5em;
}

.partenaire {
    font-size: 23px;
}

h3 {
    font-size: 1.8em;
}

li {
    margin-top: 32px;
}

article img, article p {
    width: 30%;
    display: inline-block;
    font-size: 1.5em;
}

strong {
    color: green;
}

em {
    text-decoration: line-through;
    color: red;
}

.produit {
    position: relative;
    left: 5%;
}

p {
    width: 190px;
}


/*fin partie centrale section produit*/


/*pied de page*/

footer {
    background-image: url('file:///home/morad/site/lab/projet-piscine/images/getsupercustomizedimage.php5.png');
}

footer section, footer nav {
    position: relative;
    left: 90px;
    margin-left: 120px;
    display: inline-block;
    vertical-align: top;
}

footer nav {
    height: 60px;
    width: 60px;
}

.fb, .twit {
    height: 40px;
    width: 40px;
}


/*fin de pied de page */


/*responsive*/

@media (min-width: 740px) and (max-width: 1024px) {
    .petitlogo, header form, .marque, footer section {
        display: none;
    }
    header nav {
        width: 80%;
        margin-left: 0;
    }
    .piscine1, .piscine2 {
        width: 40%;
        display: inline-block;
        margin-left: 5%;
        vertical-align: top;
    }
    article p, article a {
        font-size: 20px;
    }
    article img {
        width: auto;
        height: auto;
    }
    footer nav {
        display: inline;
    }
}

@media ( min-width :320px) and ( max-width: 740px) {
    .petitlogo, header form, header nav, .marque, footer section {
        display: none;
    }
    header {
        height: 30%;
    }
    h1 {
        width: 100%;
        font-size: 4em;
    }
    .logo {
        width: 40%;
    }
    section article {
        height: 20%;
        font-size: 10px;
    }
    footer nav {
        display: inline;
        margin-left: auto;
    }
}
